/* Set the size of the div element that contains the map */
#map {
    height: 400px; /* The height is 400 pixels */
    width: 600px; /* The width is the width of the web page */
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 10px;
    height: 600px;
    width: 500px;
}

h2 {
    margin-left: 70px;
}

h4 {
    margin-left: 70px;
}

.email {
    margin-left: 70px;
}

.phone {
    margin-left: 70px;
}
