u {
    font-size: 25px
}

li {
    list-style-type: none;
}

i {
    font-size: 20px;
    font-style: normal;
}

span {
    font-size: 17px;
}

section {
    background-color: #f2f3f4;
}

.lector-name {
    font-size: 20px;
}

.price {
    font-size: 20px;
}
