@{
    ViewData["Title"] = "Home Page";
}

@model ITSkills.Web.ViewModels.Home.IndexViewModel

<div class="text-center">
    <h1 class="display-4">Categories</h1>
</div>

<div class="card-group">
    @foreach (var category in Model.Categories)
    {
        <div class="card">
            <img src="@category.ImageUrl" class="card-img-top" alt="@category.Name" width="250" height="190">
            <div class="card-body">
                <h5 class="card-title">@category.Name</h5>
                <a href=@category.Url class="btn btn-primary">See category</a>
            </div>
        </div>
    }
</div>

