@{
    ViewData["Title"] = "Home Page";
}

@model ITSkills.Web.ViewModels.Home.IndexViewModel

    <head>
        <link rel="stylesheet" href="~/css/backToCoursebtn.css" />
    </head>
@if (!this.User.Identity.IsAuthenticated)
{
    <partial name="NotLoggedIn" />
}
else
{
    <div class="tabbable">
        <ul id="myTab" class="nav nav-tabs">
            @foreach (var category in Model.Categories)
            {
            <button class="button"><li><a href="@category.Url" style="color:lightgray;">@category.Name</a></li></button>
            }
        </ul>
    </div>
    <div class="text-center">
        <h1 class="display-4">My courses</h1>
        @if (Model.MyCourses.Count() == null)
        {
            <p>You haven't added any courses yet.</p>
        }
    </div>

}
