@{
    ViewData["Title"] = "Home Page";
}

@model ITSkills.Web.ViewModels.Home.IndexViewModel

<head>
    <link rel="stylesheet" href="~/css/sidebar.css" />
</head>
@if (!this.User.Identity.IsAuthenticated)
{
    <partial name="NotLoggedIn" />
}
else
{
    <div class="sidebar">
        @foreach (var category in Model.Categories)
        {
            <a href="@category.Url">@category.Name</a>
        }
    </div>
    <div class="text-center">
        <h1 class="display-4">My courses</h1>
        @*@if (Model.MyCourses.Count() == 0)
        {
            <p>You haven't added any courses yet.</p>
        }
        else
        {
            foreach (var course in Model.MyCourses)
            {
                <p>@course.Price</p>
            }
        }*@
    </div>
}
