
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ITSkills</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <partial name="_Favicons" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 navbar-custom">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="logo" src="~/img/Logo.png" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="fas fa-bars"></i>
                    </span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacts">Contacts</a>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @*@if (this.User.IsInRole("Admin"))
                            {*@
                        <div class="w3-dropdown-hover">
                            <button class="w3-button">Administration</button>
                            <div class="w3-dropdown-content w3-bar-block w3-border">
                                <a class="dropdown-item" asp-area="Administration" asp-controller="Categories" asp-action="Index">Category</a>
                                <a class="dropdown-item" asp-area="Administration" asp-controller="Courses" asp-action="Index">Course</a>
                                <a class="dropdown-item" asp-area="Administration" asp-controller="Lections" asp-action="Index">Lection</a>
                            </div>
                        </div>
                        <form class="form-inline" asp-controller="Courses" asp-action="Index" method="get">
                            <input class="form-control mr-sm-2" type="text" id="course-search-bar"placeholder="Search..." name="title">
                            
                        </form>
                        @*}*@
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ITSkills - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> - <h7>Based on &copy;<a href="https://www.udemy.com">Udemy</a> </h7><h7>and &copy;<a href="https://www.softuni.bg">SoftUni</a></h7>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>