<title>IT Skills</title>
<head>
    <script src="https://kit.fontawesome.com/e496302054.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/notLoggedIn.css" />
</head>
<body>
    <div class="main-content">
        <h1>Learn more now with IT Skills</h1>
        <div class="schedule">
            <span class="schedule">
                <i class="fas fa-history"></i>
                <span>Learn on your schedule;</span>
            </span>
        </div>
        <div class="courses">
            <span class="courses">
                <i class="fas fa-globe"></i>
                <span>Over hundreds of courses;</span>
            </span>
        </div>
        <div class="carousel-fullscreen-sidebar">
            <h2>What do you want to learn today?</h2>
            <form class="form-inline" asp-controller="Courses" asp-action="Index">
                <input class="form-control mr-sm-2" type="text" id="course-search-bar" placeholder="Search...">
                <button class="btn btn-outline-secondary my-2 my-sm-0" style="background-color: #fafafa;" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
</body>