@model ITSkills.Web.ViewModels.Lections.LectionsViewModel
@{
    this.ViewData["Title"] = Model.Title;
}
<head>
    <script src="https://kit.fontawesome.com/e496302054.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/backToCoursebtn.css" />
</head>
<h4 class="text-center" style="text-transform:uppercase">@Model.Title</h4>
<br />
<div class="row">
    <div class="column">
        <iframe src="@Model.IFrameSource" width="640" height="390"></iframe>
    </div>
    <div class="column">
        <form action="/Course/ById/@Model.CourseId">
            <button class="button"><span>Back to course </span></button>
        </form>
        <div class="container">
            <h2>All Lections</h2>
            @foreach (var lection in Model.Lections)
            {
                <ul class="list-group">
                    <li class="list-group-item" style="text-transform:uppercase">
                        <a asp-controller="Lections" asp-action="ById" asp-route-id="@lection.Id">@lection.Title</a>
                    </li>
                </ul>
            }
        </div>

    </div>
</div>
