@model ITSkills.Web.ViewModels.Categories.CreateCategoryViewModel
@{ 
    this.ViewData["Title"] = "Create a new category";
}
<div class="title">
    <h2>Create a new category</h2>
    <hr class="between" />
</div>
<head>
    <script>
        function countChar(val) {
            var len = val.value.length;
            if (len >= 200) {
                val.value = val.value.substring(0, 200);
            } else {
                $('#charNum').text(200 - len);
            }
        };
    </script>
</head>
<form method="post" asp-action="Create">
    <div class="form-group">
        <label for="categoryName">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Name...">
    </div>
    <div class="form-group">
        <label for="imageUrl">Image</label>
        <input asp-for="ImageUrl"class="form-control" placeholder="Image URL here...">
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <input asp-for="Description" textarea class="form-control" id="field" rows="3" onkeyup="countChar(this)">
        <div id="charNum"></div>
    </div>
    <button type="submit" class="btn btn-success btn-submit" title="Create">Create</button>
</form>
