<form>
    <div class="form-group">
        <label for="categoryName">Name</label>
        <input type="text" class="form-control" id="Name" placeholder="Name...">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Image</label>
        <input type="url" class="form-control" id="ImageUrl" placeholder="Image URL here...">
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-block btn-submit" title="Create" size="">Create</button>
   
</form>
