@{
    this.ViewData["Title"] = "Create a new course";
    var categories = Model.Categories.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}
@model ITSkills.Web.ViewModels.Courses.CreateCourseViewModel

<div class="title">
    <h2>Create a new course</h2>
    <hr class="between" />
</div>
<head>
    <script src="~/js/custom.js"></script>
</head>
<form method="post" asp-action="Create">
    @if (this.TempData["Error"] != null)
    {
        @await Component.InvokeAsync("ErrorAlert", new { message = this.TempData["Error"] });
    }
    <div class="form-group">
        <label for="courseTitle">Title</label>
        <input asp-for="Title" class="form-control" placeholder="Title...">
    </div>
    <div class="form-group">
        <label for="imageUrl">Image</label>
        <input asp-for="ImageUrl" class="form-control" placeholder="Image URL here...">
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <input asp-for="Description" textarea class="form-control" id="field" rows="3" onkeyup="countChar(this)" placeholder="Write a short description of the course...">
        <div id="charNum"></div>
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" min="0" asp-for="Price" class="form-control" placeholder="Pricing of the course...">
    </div>
    <div class="form-group">
        <label for="AcquiredKnowledge">Acquired Knowledge</label>
        <input asp-for="AcquiredKnowledge" textarea class="form-control" placeholder="Acquired knowledge from the course...">
    </div>
    <div class="form-group">
        <label for="Requirements">Requiremens</label>
        <input asp-for="Requirements" textarea class="form-control" placeholder="Required knowledge to start the course...">
    </div>
    <div>
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" asp-items="categories" class="form-control"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-success btn-submit" title="Create">Create</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
