@model ITSkills.Web.ViewModels.Courses.PaymentViewModel
@{
    ViewData["Title"] = "Payment";
}

<head>
    <link rel="stylesheet" href="~/css/backToCoursebtn.css" />
</head>
<h3>Course payment</h3>
<div class="confirmation text-center">
    <ul class="column">
        <li>
            <h3>Title</h3>
            <p>@Model.Title</p>
        </li>
        <hr />
        <li>
            <h3>Username</h3>
            <p>@Model.Username</p>
        </li>
        <hr />
        <h3>Price</h3>
        @if (Model.Price == null)
        {
            <p>Free</p>
        }
        else
        {
            <p>@Model.Price BGN</p>
        }
    </ul>
    <hr />
    <h4>Are  you sure you want to continue?</h4>
    <form class="form-inline" asp-controller="Courses" asp-action="Payment" method="post">
        <button class="button" type="submit"><span>Join</span></button>
    </form>
</div>
<style>
    .confirmation {
        column-count: 2;
        column-gap: 40px;
        column-rule: 1px solid #d3d3d3;
    }
</style>

