@model ITSkills.Web.ViewModels.Courses.PaymentViewModel
@{
    ViewData["Title"] = "Successful adding of course";
}

<div class="text-center">
    <h2>Successfully added course @Model.Title !</h2>
    <h3>Payment Code</h3>
    <h4>@Model.PaymentCode</h4>
    <p>To make the payment, please go to the nearest EasyPay office and provide the unique 6-alphanumeric code (@Model.PaymentCode) you received. Payment through EasyPay cash registers can be made from anywhere in Bulgaria. Transfers are made in real time, without the risk of errors and without any restrictions on the place of deposit. The counters, where you can pay the fee or the selected package, are evenly distributed throughout the country and allow our students to use them at a time convenient for them.</p>
    <button>Back to Home</button>
</div>