@{
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}

<h1>Manage your account</h1>
<partial name="_Favicons" />
<div>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-8">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
