@model ITSkills.Web.ViewModels.MyCourses.PaymentViewModel
@{
    ViewData["Title"] = "Course payment";
}

<h3>Course payment</h3>
<div class="row text-center">
    <ul class="column">
        <li>
            <h5>Title</h5>
            @Model.Title
            <hr />
        </li>
        <li>
            <h5>First Name</h5>
            @Model.User.FirstName
            <hr />
        </li>
        <li>
            <h5>Last Name</h5>
            @Model.User.LastName
            <hr />
        </li>
        <div class="column">
            <h5>Price</h5>
            @if (Model.Price == 0)
            {
                <h6>Free</h6>
            }
            else
            {
                <h6>@Model.Price</h6>
            }
            <hr />
        </div>
    </ul>
    <style>
        div {
            column-rule: 4px double #ff00ff;
        }
    </style>
